:root {
  --logo-size: 32px;
  --line-height: 1.5;

  --light: #F2EBDC;
  --dark: #59413C;
  --variant: #A64149;

  --shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --card-border-color: #eaeaea;
  --background: white;

  --episode-line-height: 25px;
}

body {
  font-family: Nunito, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: #000;
    --dark: #F2EBDC;
    --variant: #A64149;

    --background: black;
    --card-border-color: #222;
    --shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  }

  body {
    background-color: #111;
  }

  * {
    color: white;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-border {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.muted {
  font-size: 1.1rem;
  font-weight: 300;
}

.m-0 {
  margin: 0;
}
